p {
    color:black;
    background-color: lightpink;
    font-size:18px;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

p:nth-of-type(2) {
    font-size:32px;
}

div {
    color: blue
    font-size:36px;
}

div:nth-of-type(1) {
    color:blue;
    font-size:36px;
}

div:nth-of-type(2) {
    color:black;
    background-color: lightgreen;
    font-size:24px;
}